<div class="container">
    <div class="box">
        <div class="input-currency">
            <div class="input">
                <input class="input-first" #input1 type="text" 
                pattern="[0-9]*"
                [value]="resultSecond | currency: '':''"
                (input)="userInput($event)"
                (keydown)="keyPressNumbers($event)"
                (dblclick)="clear()">
                <select class="select-first" #select1 id="currency" 
                (change)="selectedCurrency($event)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
            <div class="input">
                <input class="input-second" #input2 type="text" 
                [value]="resultFirst | currency: '':''" 
                (input)="userInput($event)"
                (keydown)="keyPressNumbers($event)"
                (dblclick)="clear()">
                <select class="select-second" #select2 id="currency2"
                (change)="selectedCurrency($event)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
        </div>
        <div class="btn">
            <button (click)="changeKey(select1, select2)">&duarr;</button>
        </div>
    </div>
</div>