<div class="container">
    <h1>Converter</h1>
    <div class="box">
        <div class="input-currency">
            <div class="input">
                <input class="input-first" #input1 type="number" 
                [value]="resultSecond?.toFixed(2)"
                (input)="userInput($event)"
                (click)="clear(input1, input2)">
                <select class="select-first" #select1 id="currency" 
                (change)="selectedCurrency($event)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
            <div class="input">
                <input class="input-second" #input2 type="number" 
                [value]="resultFirst?.toFixed(2)" 
                (input)="userInput($event)"
                (click)="clear(input2, input1)">
                <select class="select-second" #select2 id="currency2"
                (change)="selectedCurrency($event)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
        </div>
        <div class="btn">
            <button (click)="changeKey(select1, select2)">&duarr;</button>
        </div>
    </div>
</div>