<div class="container">
    <h1>Converter</h1>
    <div class="box">
        <div class="input-currency">
            <div class="input">
                <input #input1 type="number" 
                [value]="resultSecond?.toFixed(2)"
                (input)="firstUserInput(input1.value)"
                (click)="clear(input1, $event)">
                <select #select1 id="currency" 
                (change)="selectedCurrency1(select1.value, input2.value)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
            <div class="input">
                <input #input2 type="number" 
                [value]="resultFirst?.toFixed(2)" 
                (input)="secondUserInput(input2.value)"
                (click)="clear(input2, $event)">
                <select #select2 id="currency2"
                (change)="selectedCurrency2(select2.value, input1.value)">
                    <option [value]="key" *ngFor="let key of keys">{{key}}</option>
                </select>
            </div>
        </div>
        <div class="btn">
            <button (click)="changeKey(input1.value, input2.value, select1, select2)">&duarr;</button>
        </div>
    </div>
</div>